{% extends "base.html" %}

{% block title %}Login - AttendanceMS{% endblock %}

{% block content %}

<section class="login-section">

    <div class="login-container">

        <div class="login-header">
            <h1>Welcome Back</h1>
            <p>
                Sign in to access the Student Attendance Management System.
            </p>
        </div>

        <form action="{{ url_for('auth.login') }}" method="POST" class="login-form">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>


            <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                    required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                    required>
            </div>

            <button type="submit" class="btn">
                Login
            </button>
            <div class="login-extra">
                <p>Need help?</p>
                <a href="mailto:support@attendancems.com">
                    Contact Support
                </a>
            </div>

        </form>

    </div>

</section>

{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}